@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #000000;
}

.autumn {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #ea580c;
}

.winter {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #0ea5e9;
}

.spring {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #65a30d;
}

@layer base {
  html {
    --text-season: #000000;
  }
  html[data-theme='autumn'] {
    --color-season: #ea580c;
  }
  html[data-theme='winter'] {
    --color-season: #0ea5e9;
  }
  html[data-theme='spring'] {
    --color-season: #65a30d;
  }
  html[data-theme='summer'] {
    --color-season: #eab308;
  }
}


body {
  background: var(--background);
  color: var(--color-season);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
