@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    --text-season: #000000;
    --background-image: url('/images/bricks.png');
  }
  html[data-theme='autumn'] {
    --color-season: #ea580c;
    --background-image: url('/images/bg-autumn.png');
  }
  html[data-theme='winter'] {
    --color-season: #0ea5e9;
    --background-image: url('/images/bg-winter.png');
  }
  html[data-theme='spring'] {
    --color-season: #65a30d;
    --background-image: url('/images/bg-spring.png');
  }
  html[data-theme='summer'] {
    --color-season: #eab308;
    --background-image: url('/images/bg-summer.png');
  }
}


body {
  background-image: var(--background-image);
  background-size: cover;
  color: var(--color-season);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
